<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.leejones.grafana-dashboards</string>
	<key>connections</key>
	<dict>
		<key>34E356C6-0798-4CD8-B76F-0F9F33B3C373</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8FAFF89C-6785-48F3-AD9A-09F7AED457E9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Lee Jones</string>
	<key>description</key>
	<string>Search Your Grafana Dashboards and Open One</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Grafana Dashboards</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8FAFF89C-6785-48F3-AD9A-09F7AED457E9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>

<dict>
  <key>config</key>
  <dict>
    <key>alfredfiltersresults</key>
    <true/>
    <key>alfredfiltersresultsmatchmode</key>
    <integer>2</integer>
    <key>argumenttrimmode</key>
    <integer>0</integer>
    <key>argumenttype</key>
    <integer>1</integer>
    <key>escaping</key>
    <integer>102</integer>
    <key>keyword</key>
    <string>grafana-dashboards</string>
    <key>queuedelaycustom</key>
    <integer>3</integer>
    <key>queuedelayimmediatelyinitially</key>
    <true/>
    <key>queuedelaymode</key>
    <integer>0</integer>
    <key>queuemode</key>
    <integer>1</integer>
    <key>runningsubtext</key>
    <string>Fetching dashboards</string>
    <key>script</key>
    <string>source ~/.alfred-grafana-dashboards &amp;&amp; bin/dashboards</string>
    <key>scriptargtype</key>
    <integer>0</integer>
    <key>scriptfile</key>
    <string></string>
    <key>subtext</key>
    <string></string>
    <key>title</key>
    <string>Search Grafana Dashboards</string>
    <key>type</key>
    <integer>0</integer>
    <key>withspace</key>
    <true/>
  </dict>
  <key>type</key>
  <string>alfred.workflow.input.scriptfilter</string>
  <key>uid</key>
  <string>34E356C6-0798-4CD8-B76F-0F9F33B3C373</string>
  <key>version</key>
  <integer>2</integer>
</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>34E356C6-0798-4CD8-B76F-0F9F33B3C373</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>8FAFF89C-6785-48F3-AD9A-09F7AED457E9</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://leejones.github.io</string>
</dict>
</plist>
